/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
#-------------------------
# Operating Specific Junk Files
#-------------------------



# Recycle Bin used on file shares
$RECYCLE.BIN/

# Linux
*~


#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------



# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

*.idea
writable/cache
writable/debugbar
writable/logs
writable/session
writable/uploads
tests/*
public/upload/files/
/public/sitemap.xml
